{% extends "base.twig" %}

{% block content %}
	<section class="hero  hero--our-people hero--our-people-archive">
		<div class="container">
			<div class="row">
				<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
					<h1>Our people</h1>
					<p>We have a talented team of problem solvers, the best and brightest in their fields of interest and expertise. They are delivery and results-oriented, accountable, partnership-oriented, innovative, enterprising and committed to clients' needs.</p>
					<p>The skills of the team include: risk management and communication, community and stakeholder engagement, change management, proactive issues management, sustainability, biodiversity, corporate responsibility, futures analysis, psychology, sociology, media and human rights.</p>
					<p>The sectors we’ve covered include: banking, mining, energy, pharmaceuticals, media, agriculture, international relations, government and NGOs.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="our-team">
		<div class="container">
			<div class="row">

			</div>
			<div class="row">
				{% for post in posts %}
					{# bad hack, better to fix in second version #}
					{% if 'Münchenberg' in post.title %}
						<div class="our-team__title  col-12 pt-5 pb-5">
							<h2>Our network of national and global experts</h2>
							<p>As well as our highly qualified in-house team, Futureye has a national and international network of experts who work with us on specific projects, helping to ensure that every aspect of every challenge is addressed effectively and efficiently. Our clients can be assured that, wherever they are, Futureye knows who to engage and how to deal with issues, enhancing the strategies that help to ensure enduring success.</p>
							<p>Here are profiles on some of them.</p>
						</div>
					{% endif %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="our-team-descr">
		<div class="container">
			<div class="row">
				<div class="col-12  col-sm-10  offset-sm-1  col-lg-8  offset-lg-2">
					<h4>Internships with Futureye</h4>
					<p>
						Futureye provides opportunities at various times of the year for final year university students to undertake internships as part of their course requirements.  Interns are given the opportunity to work on various client projects dealing with current issues.  The internship provides exposure to our methodologies including social licence to operate strategy development, risk communication and crisis management.  The experience may include working on client project teams; conducting research and media scanning; working on new business proposals and writing media and communications pieces for clients.</p>
						<p>Internships at Futureye may lead to paid casual, part-time or full-time work.</p>
						<p>If you are interested, please provide your CV, contact details and a covering letter to: info@futureye.com</p>
				</div>
			</div>
		</div>
	</section>
	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
