{% extends "base.twig" %}

{% block content %}
	<section class="hero  hero--case-studies">
		<div class="container">
			<div class="row">
				<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
					<h1>Case Studies</h1>
					<p>Futureye has worked with small and large businesses, governments, NGOs and organisations over many years, responding to challenges and shaping better futures.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="case-studies pb-0">
		<div class="container">
			<section class="category-filter">
				<h4>Select Industry/Category:</h4>
				<div class="category-filter__list" id="category_filter">
					<div class="category-filter__list__item is-checked" data-filter="*">
						<input type="radio" id="view_all" name="category-filter" checked>
						<label for="view_all">View all</label>
					</div>
						{% for category in categories %}
								<div class="category-filter__list__item" data-filter=".category-{{ category.id }}">
										<input type="radio" id="{{ 'cat-name-select' ~ category.id }}" name="category-filter">
										<label for="{{ 'cat-name-select' ~ category.id }}">{{ category.name }}</label>
								</div>
						{% endfor %}
				</div>
			</section>
			<div class="row case-studies__grid">
				{% for post in posts %}
					<div class="col-12 col-sm-6 col-lg-4 case-studies__item {{ post.terms('case_study-category')|map(cat => "category-#{cat.id}")|join(' ') }}" >
							<div class="item__title">{{ post.title }}</div>
							{% if post.thumbnail.src %}
								<div class="item__logo"><img src="{{ post.thumbnail.src }}" alt="{{ post.title }}"></div>
							{% endif %}
							<a href="{{ post.link }}" class="item__link">View Case Study
									<i class="icon icon--link"></i>
							</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
