{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header">
			{% block header %}
				<div class="header__top">
					<div class="container">
						<div class="row">
							<div class="header__toggle  col-2">
								<a href="#" class="toggle-btn">
									<span></span>
									<span></span>
									<span></span>
								</a>
							</div>
							<div class="header__logo  col-8  col-lg-4">
								<a href="{{ site.url }}">
									<picture>
										<source srcset="{{ site.theme.link }}/static/img/logo-img@1x.jpg 1x, {{ site.theme.link }}/static/img/logo-img@2x.jpg 2x">
										<img src="{{ site.theme.link }}/static/img/logo-img@1x.jpg" width="55" height="55" alt="Logo">
									</picture>
									<p>FUTUREYE</p>
								</a>							
							</div>
							<div class="header__contacts  col-2  col-lg-8">
								<a href="tel:{{ theme.theme_mod('phone_1') }}" class="contacts__phone">
									<div class="svg-icon  svg-icon-phone">
										<?xml version="1.0" encoding="UTF-8"?>
										<svg enable-background="new 0 0 24 24.96" version="1.1" viewBox="0 0 24 24.96" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs>
									<rect id="b" width="24" height="24.96"/>
								</defs>
											<clipPath id="a">
												<use xlink:href="#b"/>
											</clipPath>
											<path d="m19.117 24c-0.992 0-2.187-0.25-3.5-0.746-2.883-1.086-6.015-3.23-8.828-6.043-2.812-2.812-4.961-5.949-6.047-8.828-0.988-2.621-0.988-4.773-4e-3 -5.758 0.141-0.14 0.285-0.293 0.434-0.449 0.898-0.945 1.914-2.008 3.258-1.961 0.929 0.039 1.828 0.617 2.746 1.762 2.719 3.379 1.492 4.586 0.074 5.98l-0.25 0.25c-0.23 0.231-0.672 1.305 3.41 5.383 1.328 1.332 2.465 2.305 3.371 2.895 0.571 0.371 1.594 0.933 2.012 0.515l0.254-0.254c1.394-1.417 2.598-2.636 5.976 0.079 1.145 0.921 1.723 1.816 1.758 2.746 0.055 1.343-1.015 2.363-1.961 3.261-0.156 0.149-0.308 0.293-0.449 0.434-0.488 0.488-1.269 0.734-2.254 0.734zm-14.781-22.984c-0.957 0-1.82 0.906-2.586 1.711-0.152 0.164-0.301 0.32-0.449 0.465-0.731 0.734-0.656 2.66 0.191 4.91 1.047 2.777 3.129 5.812 5.863 8.543 2.735 2.734 5.766 4.816 8.543 5.863 2.25 0.848 4.176 0.922 4.907 0.188 0.148-0.145 0.304-0.293 0.465-0.446 0.824-0.781 1.753-1.668 1.714-2.648-0.027-0.676-0.519-1.398-1.461-2.156-2.812-2.262-3.601-1.465-4.906-0.141l-0.258 0.258c-0.625 0.625-1.636 0.488-3.011-0.406-0.957-0.621-2.133-1.633-3.504-3-3.387-3.387-4.469-5.457-3.41-6.52l0.257-0.25c1.329-1.305 2.129-2.094-0.136-4.91-0.758-0.941-1.485-1.434-2.157-1.461h-0.062z" clip-path="url(#a)"/>
						</svg>
									</div>
									{% if theme.theme_mod('phone_1') %}
										<p>{{ theme.theme_mod('phone_1') }}</p>
									{% endif %}
								</a>
								<a href="{{ contact_link }}" onclick="showEnquirePopUp(); return false" class="contacts__enquiry">
									<div class="svg-icon  svg-icon-envelope">
										<?xml version="1.0" encoding="UTF-8"?>
										<svg enable-background="new 0 0 24.809 17.637" version="1.1" viewBox="0 0 24.809 17.637" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
							<path d="m20.086 13.621c-0.098 0-0.195-0.035-0.274-0.109l-4.601-4.316c-0.16-0.153-0.168-0.403-0.02-0.567 0.153-0.16 0.407-0.168 0.567-0.015l4.605 4.316c0.16 0.152 0.168 0.406 0.016 0.566-0.078 0.083-0.184 0.125-0.293 0.125z"/>
											<path d="m4.723 13.621c-0.11 0-0.215-0.042-0.293-0.125-0.153-0.16-0.145-0.414 0.015-0.566l4.606-4.316c0.164-0.153 0.418-0.145 0.566 0.015 0.153 0.164 0.145 0.414-0.015 0.567l-4.606 4.316c-0.078 0.074-0.176 0.109-0.273 0.109z"/>
											<path d="m22.809 17.637h-20.809c-1.102 0-2-0.894-2-2v-13.637c0-1.101 0.898-2 2-2h20.809c1.101 0 2 0.899 2 2v13.637c0 1.106-0.899 2-2 2zm-20.809-16.836c-0.66 0-1.199 0.539-1.199 1.199v13.637c0 0.664 0.539 1.199 1.199 1.199h20.809c0.664 0 1.199-0.535 1.199-1.199v-13.637c0-0.66-0.535-1.199-1.199-1.199h-20.809z"/>
											<path d="m12.406 10.829c-0.535 0-1.066-0.176-1.468-0.528l-10.274-8.961c-0.168-0.144-0.184-0.398-0.039-0.566s0.398-0.18 0.566-0.039l10.27 8.961c0.512 0.445 1.375 0.445 1.887 0l10.257-8.946c0.168-0.144 0.418-0.129 0.567 0.039 0.144 0.168 0.129 0.418-0.039 0.563l-10.258 8.945c-0.406 0.356-0.937 0.532-1.469 0.532z"/>
						  </svg>
									</div>
									<p>Make Enquiry</p>
								</a>
								<div class="contacts__social">
									{% if theme.theme_mod('facebook') %}
										<a target="_blank" href="{{ theme.theme_mod('facebook') }}" style="background-color: #0079b8"><i class="fab fa-facebook"></i></a>
									{% endif %}
									{% if theme.theme_mod('linkedin') %}
										<a target="_blank" href="{{ theme.theme_mod('linkedin') }}" style="background-color: #0079b8"><i class="fab fa-linkedin-in"></i></a>
									{% endif %}
									{% if theme.theme_mod('twitter') %}
										<a target="_blank" href="{{ theme.theme_mod('twitter') }}" style="background-color: #54aced"><i class="fab fa-twitter"></i></a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header__nav">
					<div class="container">
						{% include "primary-menu.twig" with {'menu': primary_menu.get_items} %}
					</div>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{#{% if title %}<h1>{{title}}</h1>{% endif %}#}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<style>
				.hero--case-studies, .hero--our-people, .hero--what-we-do { position: relative; }
				.hero--case-studies:before, .hero--our-people:before, .hero--what-we-do:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.5);
					top: 0;
					left: 0;
				}
				.hero--what-we-do {
					background-image: url('{{ site.theme.link }}/static/img/what-we-do-hero.png');
				}
			</style>

			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
