<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-top__block  col-lg">
                    <div class="wrap">
                        <h4>View our people</h4>
                        <div class="block__row">
                            <p>We’d love to hear from you and help you and your organisation.</p>
                            <div class="block__img  block__img--round">
                                <img src="{{ site.theme.link }}/static/img/ktw-circle-2.png" alt="">
                            </div>
                        </div>
                        <a href="{{ team_link }}">View Our Team</a>
                    </div>
                </div>
                <div class="footer-top__block  col-lg">
                    <div class="wrap">
                        <h4>View latest news</h4>
                        <div class="block__row">
                            <p>Keep up to date with the latest social licence news.</p>
                            <div class="block__img">
                                <img src="{{ site.theme.link }}/static/img/article-preview.jpg" alt="">
                            </div>
                        </div>
                        <a href="{{ blog_link }}">View Latest News</a>
                    </div>
                </div>
                <div class="footer-top__block  col-lg">
                    <div class="wrap">
                        <h4>Sign up today</h4>
                        <div class="block__row">
                            <p>Keep up to date with the latest in innovation, social licence issues, social responsibility, community engagement and risk communications.</p>
                            <div class="block__img">
                                <img src="{{ site.theme.link }}/static/img/newspaper-blue.svg" alt="Sign up to our Newsletter">
                            </div>
                        </div>
                        <a href="#" onclick="event.preventDefault(); showSignUpPopUp();">Sign Up Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="footer-bottom__left-section  col-12  col-sm-10  offset-sm-1  col-md-4  offset-md-0">
                    <div class="footer-bottom__contacts">
                        <a href="#" onclick="event.preventDefault(); showSignUpPopUp();" class="contacts__sign-up">Sign up to newsletter</a>
                        <div class="contacts__social">
                            {% if theme.theme_mod('facebook') %}
                                <a target="_blank" href="{{ theme.theme_mod('facebook') }}" style="background-color: #0079b8"><i class="fab fa-facebook"></i></a>
                            {% endif %}
                            {% if theme.theme_mod('linkedin') %}
                                <a target="_blank" href="{{ theme.theme_mod('linkedin') }}" style="background-color: #0079b8"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                            {% if theme.theme_mod('twitter') %}
                                <a target="_blank" href="{{ theme.theme_mod('twitter') }}" style="background-color: #54aced"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="footer-bottom__logo">
                        <a href="{{ site.link }}">FUTUREYE</a>
                    </div>
                    <div class="footer-bottom__copyright">
                        <p>© Copyright {{"now"|date('Y')}} Futureye. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="footer-bottom__right-section  col-md-7  offset-md-1  col-lg-6  offset-lg-2  col-xl-5  offset-xl-3">
                    <div class="row">
                        <div class="footer-bottom__links  col-md" style="visibility: hidden" >
                            <h5>SERVICES</h5>
                            <ul>
                                <li>
                                    <a href="#">Service 1</a>
                                </li>
                                <li>
                                    <a href="#">Service 2</a>
                                </li>
                                <li>
                                    <a href="#">Service 3</a>
                                </li>
                                <li>
                                    <a href="#">Service 4</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-bottom__links  col-md">
                            <h5>ABOUT FUTUREYE</h5>
                            <ul>
                                <li>
                                    <a href="{{ what_we_do_link }}">About us</a>
                                </li>
                                <li>
                                    <a href="{{ team_link }}">Our team</a>
                                </li>
                                <li>
                                    <a href="{{ contact_link }}">Careers</a>
                                </li>
                                <li>
                                    <a href="{{ contact_link }}">How to find us</a>
                                </li>
                                <li>
                                    <a href="{{ privacy_link }}">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-bottom__links  col-md">
                            <h5>RESOURCES</h5>
                            <ul>
                                <li>
                                    <a href="http://wikicurve.org/" target="_blank">WikiCurve</a>
                                </li>
                                <li>
                                    <a href="{{ resources_link }}">Publications</a>
                                </li>
                                {#<li>#}
                                    {#<a href="{{ press_link }}">Press Information</a>#}
                                {#</li>#}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="developed-by  col-12">
                    Developed with <i class="fas fa-heart"></i>
                    by <a href="http://jmarketing.agency" target="_blank"><div class="svg-icon-jm"></div></a>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- Enquiry btn -->
<button class="enquire-now">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg enable-background="new 0 0 24.809 17.637" version="1.1" viewBox="0 0 24.809 17.637" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        <path d="m20.086 13.621c-0.098 0-0.195-0.035-0.274-0.109l-4.601-4.316c-0.16-0.153-0.168-0.403-0.02-0.567 0.153-0.16 0.407-0.168 0.567-0.015l4.605 4.316c0.16 0.152 0.168 0.406 0.016 0.566-0.078 0.083-0.184 0.125-0.293 0.125z"/>
        <path d="m4.723 13.621c-0.11 0-0.215-0.042-0.293-0.125-0.153-0.16-0.145-0.414 0.015-0.566l4.606-4.316c0.164-0.153 0.418-0.145 0.566 0.015 0.153 0.164 0.145 0.414-0.015 0.567l-4.606 4.316c-0.078 0.074-0.176 0.109-0.273 0.109z"/>
        <path d="m22.809 17.637h-20.809c-1.102 0-2-0.894-2-2v-13.637c0-1.101 0.898-2 2-2h20.809c1.101 0 2 0.899 2 2v13.637c0 1.106-0.899 2-2 2zm-20.809-16.836c-0.66 0-1.199 0.539-1.199 1.199v13.637c0 0.664 0.539 1.199 1.199 1.199h20.809c0.664 0 1.199-0.535 1.199-1.199v-13.637c0-0.66-0.535-1.199-1.199-1.199h-20.809z"/>
        <path d="m12.406 10.829c-0.535 0-1.066-0.176-1.468-0.528l-10.274-8.961c-0.168-0.144-0.184-0.398-0.039-0.566s0.398-0.18 0.566-0.039l10.27 8.961c0.512 0.445 1.375 0.445 1.887 0l10.257-8.946c0.168-0.144 0.418-0.129 0.567 0.039 0.144 0.168 0.129 0.418-0.039 0.563l-10.258 8.945c-0.406 0.356-0.937 0.532-1.469 0.532z"/>
      </svg>
    <p>Enquire Now</p>
</button>


<script type="text/javascript">
document.addEventListener( 'wpcf7mailsent', function( event ) {
    if ( '9160' == event.detail.contactFormId ) {
        ga('send', 'event', 'Ebook Request', 'submit');
    }
}, false );
</script>

{% include "partial/popups.twig" %}