{% extends "base.twig" %}

{% block content %}

    <section class="hero  hero--latest-news">
      <div class="container">
        <div class="row">
          <div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
            <h1>News</h1>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <section class="latest-news-articles">
      <div class="container">

				{% for post in posts %}
					<div class="news-article">
						<div class="row  align-items-center">
							<div class="col-12  col-md-5  col-xl-4">
								{% if post.thumbnail.src %}
									<div class="case-study__logo">
										<img src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
									</div>
								{% endif %}
								<h2 class="news-article__title">
									{{ post.title }}
								</h2>
								<p class="news-article__author">
									{{ post.author.first_name ~ ' ' ~ post.author.last_name }} {# , <span>Managing Director</span> #}
								</p>
							</div>
							<div class="col-12  col-md-6  offset-md-1  col-xl-7">
								<p class="news-article__descr">{{ post.get_preview(50, true, '') }}</p>
								<a class="news-article__read-more" href="{{ post.link }}">Read More</a>
							</div>
						</div>
					</div>
        {% endfor %}

        <div class="latest-news-articles__view-more  row">
          <div class="col-12">
            <a id="loadMore" class="view-more__btn" href="#">View more</a>
          </div>
        </div>

      </div>
    </section>
	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
