{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="hero  hero--what-we-do">
				<div class="container">
					<div class="row">
						<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
							<h1>What we do</h1>
							<p>Futureye understands community concerns, as well as business imperatives. Through our unique and documented systems of research and analysis, we provide solutions that work for organisations and their stakeholders.</p>
							<p>We help organisations align their values and operations to build their social licence in a rapidly changing world.</p>
							<p>We work closely with your organisation to understand your unique context and develop tailored solutions.</p><br>
							<p><i>“We chose Futureye because we were serious about needing to change. We didn’t want stock standard.”</i><br><br> Katherine Winchester, CEO Northern Territory Seafood Council</p>
						</div>
					</div>
				</div>
			</section>
			<section class="services">
				<div class="service  service--white-bg">
					<div class="container">
						<div class="service  row">
							<div class="service__descr  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
								<h2>Understand what people think of you</h2>
								<p>We understand what triggers outrage. </p>
								<p>We analyse what your critics believe and how this impacts your organisation.</p>
								<p>We assess how issues develop and how society responds – our WikiCurve maps societal responses over time as issues emerge and develop. This detailed information informs the solutions we provide.</p>
								<div class="service__btns">
									{#<a href="{{ case_studies_link }}" class="service__btn--1">Case Study</a>#}
									{#<a href="#" class="service__btn--2">Watch video</a>#}
								</div>
							</div>
							<div class="service__video  video-section  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0"  data-video="https://player.vimeo.com/video/287609258?autoplay=1" style="background-image: url('{{ site.theme.link }}/static/img/service-video-1.jpg')">
								<div class="video-container"></div>
								<div class="play-btn"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="service  service--blue-bg">
					<div class="container">
						<div class="service  row">
							<div class="service__descr  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
								<h2>Change conversations to build trust</h2>
								<p>Our research and community and stakeholder engagement tools help you understand what people are thinking and how they are likely to react.</p>
								<p>We help you re-frame conversations for a more positive outcome. Our risk communications and crisis management techniques work to reduce anger and build trust with honesty and transparency.</p>
								<p>Tools like the OurSay platform let us reach and analyse vast communities digitally.</p>
								<p>We help build capacity to drive change internally.</p>
								<div class="service__btns">
									{#<a href="{{ case_studies_link }}" class="service__btn--1">Case Study</a>#}
									{#<a href="" class="service__btn--2">Watch video</a>#}
								</div>
							</div>
							<div class="service__video  video-section  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0"  style="background-image: url('{{ site.theme.link }}/static/img/group-shot.jpg'); background-size: cover; background-position: center;" data-video="https://player.vimeo.com/video/287592999?autoplay=1">
								<div class="video-container"></div>
								<div class="play-btn"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="service  service--white-bg">
					<div class="container">
						<div class="service  row">
							<div class="service__descr  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
								<h2>Stay ahead of the curve</h2>
								<p>We predict changes in social expectations.</p>
								<p>Our training and toolkits increase organisational capacity to earn and maintain a social licence to operate.</p>
								<p>We design innovative and tailored strategies that position the organisation to manage risks and capture opportunities.</p>
								<div class="service__btns">
									{#<a href="{{ case_studies_link }}" class="service__btn--1">Case Study</a>#}
									<a href="https://vimeo.com/287610758" class="popup-video  service__btn--2">Watch video</a>
								</div>
							</div>
							<div class="service__video  video-section  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0"  style="background-color: #42c4db;" data-video="https://player.vimeo.com/video/287610758?autoplay=1">
								<img class="img-responsive" src="{{ site.theme.link }}/static/img/more-words.png" />
							</div>
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}