{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="hero  hero--why-we-do-it">
				<div class="container">
					<div class="row">
						<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
							<h1>Why we do it</h1>
							<p>Futureye believes positive change and real trust come from acknowledging differences and collaboratively facing challenges to find respectful solutions.</p>
							<p>Our aim is to help businesses, governments and organisations better understand, embrace and manage their social licence responsibilities. We help them understand and anticipate risks, providing strategies that will create stronger, more resilient organisations.</p>
							{#<p>Katherine founded Futureye in 2002 because she wants to help avoid the devastating effects of social conflict caused by rapidly changing values. She believes in finding peaceful solutions before <i>irrational arguments take hold and before conflict arises</i>.</p>#}
						</div>
					</div>
				</div>
			</section>
			<section class="services">
				<div class="service  service--white-bg">
					<div class="container">
						<div class="service  row">
							<div class="service__descr  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
								<h2>Introducing Futureye</h2>
								<p>From its inception in 2002, Futureye has worked with hundreds of businesses, from small business to multinationals, local, state, and national governments, NGOs, and industry associations to encourage new ways of thinking and collaboration. We challenge our clients to find better ways to reduce the negative effects of social conflict caused by rapidly changing values.</p>
								<p>We believe that understanding your critics’ concerns and working to reduce the gaps provides organisations with the space to innovate to build a more positive future.</p>
								<p>The strategies we develop are based on acknowledging and welcoming others’ perspectives, and on transparency about how problems can be solved and what it takes to get there.</p>
								<div class="service__btns">
									{#<a href="#" class="service__btn--1">Watch Video</a>#}
								</div>
							</div>
							<div class="service__video  video-section  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0"  data-video="https://player.vimeo.com/video/287599185?autoplay=1" style="background-image: url('{{ site.theme.link }}/static/img/introducing-futureye-video-preview.jpg')">
								<div class="video-container"></div>
								<div class="play-btn"></div>
							</div>
						</div>
					</div>
				</div>
				{#<div class="service  service--blue-bg">#}
					{#<div class="container">#}
						{#<div class="service  row">#}
							{#<div class="service__descr  col-12  col-md-8  offset-md-2  order-lg-2  col-lg-6  offset-lg-0">#}
								{#<h2>Our Journey</h2>#}
								{#<p>Lorem ipsum dolor sit amet, cum cu vocent iuvaret, adipisci convenire sententiae ad sed, elitr abhorreant cu quo. Cu alii dicam phaedrum quo, rebum graeco at mei, id decore essent quo. Soluta facilisi deseruisse ex eos, sit elitr discere voluptua te. Vel movet maiestatis referrentur ex, no eum meliore ceteros ocurreret.</p>#}
								{#<p>Ei wisi vitae mea, usu quis gubergren democritum et, no cum justo affert regione. His et utinam voluptaria dissentiunt. Ea vis reque nihil. Blandit vulputate ea eam, purto referrentur mel et. Mea eu soleat animal nusquam, nam utinam postulant eu. Viderer ornatus an nec, eum ut populo habemus voluptatum.</p>#}
							{#</div>#}
							{#<div class="service__img  col-12  col-md-8  offset-md-2  order-lg-1  col-lg-6  offset-lg-0" style="background-image: url('{{ site.theme.link }}/static/img/our-journey.jpg')"></div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
				<div class="service  service--white-bg">
					<div class="container">
						<div class="service  row">
							<div class="service__descr  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
								<h2>Our passion for social licence to operate</h2>
								<p>We believe a social licence to operate must be earned and maintained. It cannot be bought.</p>
								{#<p>A social licence to operate has to be earned and maintained. It cannot be bought.</p>#}
								<p>A social licence is the implicit acceptance of your product, service, company, government, or organisation. Retention requires ongoing alignment to society’s values, paying attention to people’s concerns and addressing their issues.
									Risks to a social licence can be anticipated, allowing plans to be designed to manage them effectively.</p>
								<p>If potential critics are satisfied that your research and development is being governed effectively, your risks are being reduced transparently, and that you are managing your issues appropriately, your social licence will be improving.</p>
								<p>Futureye works with clients and their stakeholders to increase understanding and develop trust. Our sophisticated research tools and engagement processes build systems to identify social licence risks, engage stakeholders and address immediate issues.</p>
								<div class="service__btns">
									<a href="{{ what_we_do_link }}" class="service__btn--1">What we do</a>
								</div>
							</div>
							<div class="service__img  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0"  style="background-image: url('{{ site.theme.link }}/static/img/our-passion.jpg')"></div>
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}