{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="hero  hero--resources">
				<div class="container">
					<div class="row">
						<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
							<h1>Resources</h1>
							<p>Download any of the publications below. Simply click on the 'request your copy' button and fill in your details.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="resources">
				<div class="container">

					{% for resource in post.get_field('resources') %}

						<div class="resources-article">
							<div class="row  align-items-center">
								<div class="resources-article__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
									<h4>{{ resource.title }}</h4>
									{{ resource.content }}
									<div class="descr__btns">
										<a href="#" onclick="jQuery('input[name=\'your-publication\']').val('{{ resource.title }}'); showRequestPublicationPopUp(); return false;" class="descr__btn--1">Request your copy</a>
									</div>
								</div>
								<div class="resources-article__img  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
									<img src="{{ Image(resource.image).src('large') }}" alt="{{ resource.title }}">
								</div>
							</div>
						</div>

					{% endfor %}

					<div class="resources__view-more  row">
						<div class="col-12">
							<a id="loadMore" class="view-more__btn" href="#">View more</a>
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}