{% extends "base.twig" %}

{% block content %}

	<section class="homepage-hero">
		<div class="container">
			<div class="row  align-items-center">
				<div class="homepage-hero__descr  col-12  col-sm-10  offset-sm-1  col-md-6  offset-md-0">
					<h1>Build support by acting on <span>community concerns</span></h1>
					<p>We work with you to predict risks and turn them into opportunities.</p>
					<div class="descr__btns">
						{# <a class="button-blue popup-video" href="https://vimeo.com/286337068">Learn More</a> #}
					</div>
				</div>
				<div class="col-12  col-sm-10  col-md-6  offset-md-0">
					<div class="homepage-hero__get-guide  ">
						<picture>
							<source srcset="{{ site.theme.link }}/static/img/understanding-community-protest@1x.png?ver=1 1x, {{ site.theme.link }}/static/img/understanding-community-protest@2x.png?ver=1 2x">
							<img src="{{ site.theme.link }}/static/img/understanding-community-protest@1x.png?ver=1" alt="Understanding community protest">
						</picture>
						<p>Get the essential guide book<br>for meaningful engagement<br>with your community</p>
						<a class="button-blue" href="#" onclick="showRequestEbookPopUp(); return false;" >FREE Download</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="advantages">
		<div class="container">
			<div class="row">
				<div class="advantages__item  col-6 col-md-3">
					<picture>
						<source srcset="{{ site.theme.link }}/static/img/fortune-500@1x.png 1x, {{ site.theme.link }}/static/img/fortune-500@2x.png 2x">
						<img src="{{ site.theme.link }}/static/img/fortune-500@1x.png"  width="49" height="43" alt="Fortune 500 icon">
					</picture>
					<p>
						Trusted by Fortune<br>
						500 companies
					</p>
				</div>
				<div class="advantages__item  col-6 col-md-3">
					<picture>
						<source srcset="{{ site.theme.link }}/static/img/promotion@1x.png 1x, {{ site.theme.link }}/static/img/promotion@2x.png 2x">
						<img src="{{ site.theme.link }}/static/img/promotion@1x.png"  width="51" height="49" alt="Promotion icon">
					</picture>
					<p>
						Proactive community<br>
						engagement
					</p>
				</div>
				<div class="advantages__item  col-6 col-md-3">
					<picture>
						<source srcset="{{ site.theme.link }}/static/img/stop@1x.png 1x, {{ site.theme.link }}/static/img/stop@2x.png 2x">
						<img src="{{ site.theme.link }}/static/img/stop@1x.png"  width="49" height="49" alt="Stop icon">
					</picture>
					<p>
						Stop problems<br>
						before they begin
					</p>
				</div>
				<div class="advantages__item  col-6 col-md-3">
					<picture>
						<source srcset="{{ site.theme.link }}/static/img/certificate@1x.png 1x, {{ site.theme.link }}/static/img/certificate@2x.png 2x">
						<img src="{{ site.theme.link }}/static/img/certificate@1x.png"  width="43" height="49" alt="Certificate icon">
					</picture>
					<p>
						Earn your<br>
						Social Licence
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="trusted-by">
		<div class="container">
			<div class="row  align-items-center">
				<div class="trusted-by__heading  col-12  col-xl-2">
					<h3>Trusted by</h3>
				</div>
				<div class="trusted-by__items  col-12  col-xl-10">
					<img src="{{ site.theme.link }}/static/img/bp-logo.svg" width="49" height="65" alt="BP">
					<img src="{{ site.theme.link }}/static/img/rio-tinto-logo.svg" width="126" height="26" alt="RioTinto">
					<picture>
						<source srcset="{{ site.theme.link }}/static/img/fairfax-media-logo@1x.png 1x, {{ site.theme.link }}/static/img/fairfax-media-logo@2x.png 2x">
						<img src="{{ site.theme.link }}/static/img/fairfax-media-logo@1x.png"  width="92" height="52" alt="Fairfax Media">
					</picture>
					<img src="{{ site.theme.link }}/static/img/microsoft-logo.svg" width="135" height="29" alt="Microsoft">
					<img src="{{ site.theme.link }}/static/img/basf-logo.svg" width="121" height="23" alt="BASF">
					<img src="{{ site.theme.link }}/static/img/po-australia-logo.svg" width="77" height="42" alt="P&O Cruises Australia">
				</div>
			</div>
		</div>
	</section>
	<section class="services">
		<div class="service  service--white-bg  service--biggest-critics">
			<div class="container">
				<div class="service  row">
					<div class="service__descr  col-12  col-md-8  offset-md-2  order-lg-2  col-lg-6  offset-lg-0">
						<h2>Imagine if you could work with the community <span>instead of around them</span></h2>
						<h4>Reduce corporate risk with proactive engagement</h4>
						<p>Effective community engagement is more than just town hall meetings. It’s about earning high levels of trust and public support by becoming an active contributor to the local community. While this might sound daunting and expensive at first, that’s exactly what Futureye makes easy and affordable. We engage the community on your behalf to proactively build your social licence.</p>
						<h4>Addressing unpopular issues</h4>
						<p>When you have a potentially unpopular business decision to make, engaging a community that already likes you is a very different proposition to one that hasn’t heard from you. Instead of offering steadfast resistance, they are not only open to listening, they actively contribute solutions. Through community engagement, our clients are able to avoid PR disasters and seize business opportunities that other businesses simply cannot. Just imagine where your company could be if you community did this for you. Better yet, read about our client success stories.</p>
						<div class="service__btns">
							<a class="button-blue" href="{{ case_studies_link }}">Client success stories</a>
						</div>
					</div>
					<div class="service__img  col-12  col-md-8  offset-md-2  order-lg-1  col-lg-6  offset-lg-0"></div>
				</div>
			</div>
		</div>
		<div class="service  service--white-bg  service--overcome-community-outrage">
			<div class="container">
				<div class="service  row">
					<div class="service__descr  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
						<h2>Acting on community concerns <span>is not as hard as you think</span></h2>
						<h4>We unlock seemingly impossible outcomes to empower your business</h4>
						<p>Community concerns are driven by predictable factors. This is why concentrating on ‘the facts’ of the project alone often don’t cut through. You need to address the other concerns of the community to begin unlocking solutions.</p>
						<p>Done right, community engagement isn’t about ‘pacifying resistance’. It’s about creating active supporters who are emotionally committed to creating a positive solution that everyone can live with.</p>
						<p>Imagine how much better off your project could be with Futureye to help you work with your community!</p>
						<div class="service__btns">
							<a class="button-blue" href="{{ how_we_do_it_link }}">How to address community concerns</a>
						</div>
					</div>
					<div class="service__img  col-12  col-md-8  offset-md-2  col-lg-6  offset-lg-0"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="customer-testimonial">
		<div class="container">
			<div class="row  align-items-center">
				<div class="customer-testimonial__desc  col-12  col-lg-6">
					<h3>Customer Testimonial</h3>
					<h2><span>Forward thinking</span> to position on climate change</h2>
					<p>All leading companies are expected to have a climate change strategy and increasingly take a leadership role. However, it can be hard to find the balance between climate leadership and business as usual.</p>
					<p>In 2007, Futureye helped a leading resources company create a new climate change policy and a whole-of-company strategy to drive change throughout the organisation.</p>
					<p>Futureye’s communications and “future scenarios” workshops gave the client the confidence and skills it needed to manage risk and seize opportunities in a carbon-constrained world.</p>
					<p>Scenarios are now recommended by the Task Force on Climate-related Financial Disclosures (TFCD) to help companies engage with climate.</p>
					<a class="button-blue" href="{{case_studies_link}}">Read case studies</a>
				</div>
				<div class="customer-testimonial__comment col-12  col-lg-6">
					{# <img src="{{ site.theme.link }}/static/img/bhp-logo.svg" width="352" height="135" alt="BHP"> #}
					<div class="comment__container">
						<p class="comment__text">“The scenario planning exercise stretched our thinking and provided new insights into the interrelationships of climate change, energy security and carbon pricing. An exceptional result: 5/5.”</p>
						{# <p class="comment__author">Ed Mongan</p> #}
						<p class="comment__author-position">Senior Manager Environment and Regulatory,</p>
						<p class="comment__company">Leading resources company</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="trusted-by-full">
		<div class="container">
			<div class="row">
				<div class="trusted-by-full__heading  col-12">
					<h3>Trusted by</h3>
				</div>
				<div class="trusted-by__items  col-12">
					<img src="{{ site.theme.link }}/static/img/home-clients-logo.jpg" alt="Our clients">
				</div>
			</div>
		</div>
	</section>

	<section class="enquire-now-section" id="form" >
		<div class="container">
			<div class="row">
				<div class="enquire-now-section__heading  col-12  col-md-8  offset-md-2 ">
					<h2><span>Find out how</span> we can<br> help you de-risk:</h2>
					<p>If you have a risk problem, or proactively want to avoid one in the future, we can help! Complete the form below and chat to our team about your situation. We’ll provide detailed insight into how Futureye can solve your issue and get you on the path to success.</p> 
				</div>
				<div class="enquire-now-section__form  col-12  col-md-8  offset-md-2">
					{{ theme.theme_mod('homepage_cf7_shortcode')|shortcodes }}
				</div>
			</div>
		</div>
	</section>
		
{% endblock %}