{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="hero  hero--how-we-do-it">
				<div class="container">
					<div class="row">
						<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
							<h1>How we do it</h1>
							<p>Futureye’s unique methodologies and systems anticipate social conflict, identify society’s changing perceptions of risks and values.</p>
							<p>We develop partnerships to engage stakeholders, government, industry and the public to deliver solutions that deliver economic, social and environmental benefits.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="methodology">
				<div class="container">
					<div class="row  align-items-center">
						<div class="methodology__img  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  order-lg-2">
							<img src="{{ site.theme.link }}/static/img/futureye-approach.svg" alt="The Futureye approach">
						</div>
						<div class="methodology__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  order-lg-1">
							<h3>Our Methodology</h3>
							<p>Lorem ipsum dolor sit amet, cum cu vocent iuvaret, adipisci convenire sententiae ad sed, elitr abhorreant cu quo. Cu alii dicam phaedrum quo, rebum graeco at mei, id decore essent quo. Soluta facilisi deseruisse ex eos, sit elitr discere voluptua te. Vel movet maiestatis referrentur ex, no eum meliore ceteros ocurreret.</p>
							<p>Ei wisi vitae mea, usu quis gubergren democritum et, no cum justo affert regione. His et utinam voluptaria dissentiunt. Ea vis reque nihil. Blandit vulputate ea eam, purto referrentur mel et. Mea eu soleat animal nusquam, nam utinam postulant eu. Viderer ornatus an nec, eum ut populo habemus voluptatum.</p>
							<div class="descr__btns">
								<a href="{{ case_studies_link }}" class="descr__btn--1">Case Study</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="strategic-process">
				<div class="container-fluid">
					<div class="row">
						<div class="strategic-process__step-1  col-12  col-lg-6">
							<div class="wrap">
								<div class="strategic-process__descr">
									<h2>Strategic Process</h3>
										<h4>#1 Research</h4>
										<ol type="A">
											<li>Stakeholder concerns, values, networks, and influencers</li>
										</ol>
								</div>
								<div class="strategic-process__img">
									<img width="270px" height="auto" src="{{ site.theme.link }}/static/img/question.svg" alt="Question">
								</div>
							</div>
						</div>
						<div class="strategic-process__step-2  col-12 col-lg-6">
							<div class="wrap">
								<div class="strategic-process__descr">
									<h4>#2 Analyse</h4>
									<ol type="A">
										<li>What’s the gap between operations and societal values?</li>
										<li>Based on social maturation of the issue so far, what are the 		expected future trends of societal values?</li>
										<li>What will be its effect?</li>
									</ol>
								</div>
								<div class="strategic-process__img">
									<img src="{{ site.theme.link }}/static/img/analysis.svg" alt="Analysis">
								</div>
							</div>
						</div>
						<div class="strategic-process__step-3  col-12 col-lg-6">
							<div class="wrap">
								<div class="strategic-process__descr">
									<h4>#3 Initial actions</h4>
									<ol type="A">
										<li>Discuss society’s personal relationship to potentially unlikely events</li>
										<li>Embrace a transparent risk communications approach </li>
										<li>Run focus groups for message testing</li>
									</ol>
								</div>
								<div class="strategic-process__img">
									<img src="{{ site.theme.link }}/static/img/customer.svg" alt="Customer">
								</div>
							</div>
						</div>
						<div class="strategic-process__step-4  col-12 col-lg-6">
							<div class="wrap">
								<div class="strategic-process__descr">
									<h4>#4 Strategy</h4>
									<ol type="A">
										<li>Interviews – external and internal</li>
										<li>Develop solutions with benefits for both the community and the company</li>
										<li>Create a forum to enable productive solution-oriented discussion</li>
										<li>Establish catered measurement and evaluation (M&E) frameworks</li>
										<li>Develop ‘leading indicators’ to identify potential issues  </li>
									</ol>
								</div>
								<div class="strategic-process__img">
									<img src="{{ site.theme.link }}/static/img/presentation.svg" alt="Presentation">
								</div>
							</div>
						</div>
						<div class="strategic-process__step-5  col-12">
							<div class="wrap">
								<div class="strategic-process__descr">
									<h4>#5 Execution</h4>
									<ol type="A">
										<li>Capacity building/training for company staff </li>
										<li>DAVE messaging can be incorporated into existing messaging; 	either company staff can be trained, or Futureye can revise existing 	content through the lens of DAVE, complete with explanations for s	egments which may increase concerns significantly</li>
										<li>Develop and conduct a stakeholder engagement plan</li>
										<li>Running the evaluation and measurement process</li>
									</ol>
								</div>
								<div class="strategic-process__img">
									<img src="{{ site.theme.link }}/static/img/conference.svg" alt="Conference">
								</div>
								<div class="strategic-process__link">
									<a href="{{ case_studies_link }}">Case Study</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}