{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="hero  hero--contacts">
				<div class="container">
					<div class="row">
						<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
							<h1>Get in touch</h1>
							<p>We’d love to hear from you and help you and your organisation.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="get-in-touch">
				<div class="container-fluid">
					<div class="row  align-items-center">
						<div class="get-in-touch__contacts  col-12  col-lg-6  order-lg-1">
							<div class="wrap">
								<h4 class="contacts__title">Contact information</h4>
								{% if theme.theme_mod('phone_1') %}
									<div class="contacts__phone">
										<img src="{{ site.theme.link }}/static/img/phone-gray.svg" alt="">
										<p>Call us on <a href="tel:{{ theme.theme_mod('phone_1') }}">{{ theme.theme_mod('phone_1') }}</a></p>
									</div>
								{% endif %}

								{% if theme.theme_mod('company_address') %}
								<div class="contacts__address">
									<img src="{{ site.theme.link }}/static/img/location-gray.svg" alt="">
									<p>Visit us at <a href="#">{{ theme.theme_mod('company_address') }}</a></p>
								</div>
								{% endif %}
								{#<div class="contacts__info">#}
									{#<h6>HOW TO FIND US</h6>#}
									{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet eius, expedita ipsa neque doloremque facilis quidem quos delectus, quas accusantium, aut voluptate assumenda distinctio atque illum inventore dolores quia.</p>#}
								{#</div>#}
							</div>
						</div>
						<div class="get-in-touch__map  col-12  order-lg-3" style="background-image: url('{{ site.theme.link }}/static/img/our-location.jpg')" >
						</div>
						<div class="get-in-touch__form  col-12  col-lg-6  order-lg-2">
							<div class="wrap">
								<div class="form__title">
									<div class="icon">
										<img src="{{ site.theme.link }}/static/img/envelope-blue.svg" alt="">
									</div>
									<h3>Make an enquiry</h3>
								</div>
								{# <form class="form" action="">
                <span class="form__input">
                  <input type="text" placeholder="Name">
                </span>
									<span class="form__input">
                  <input type="text" placeholder="Company">
                </span>
									<span class="form__input">
                  <input type="tel" placeholder="Phone">
                </span>
									<span class="form__input">
                  <input type="email" placeholder="Email">
                </span>
									<span class="form__textarea">
                  <textarea placeholder="Enquiry..."></textarea>
                </span>
									<span class="form__submit">
                  <input type="submit" value="Submit">
                </span>
								</form> #}
								{{ theme.theme_mod('contact_page_cf7_shortcode')|shortcodes }}
							</div>
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

{% endblock %}