{% extends "base.twig" %}

{% block content %}
	<section class="homepage-hero post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<div class="container">
			<div class="row">
				<div class="homepage-hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-8  offset-lg-0  col-xl-6">
					{#<h1>Can you measure your Social License?</h1>#}
					<h1>FUTUREYE</h1>
					<p>We work with you in difficult times, help you navigate emerging issues, and keep a close eye on the future to predict risks and turn them into opportunities.</p>
					<p>We deliver <span>real solutions</span> to <span>real dilemmas</span>, built on understanding all perspectives, bridging gaps and building trust.</p>
					<div class="descr__btns">
						{#<a href="{{ what_we_do_link }}" class="descr__btn--1">What we do</a>#}
						<a href="https://vimeo.com/286337068" class="popup-video  descr__btn--2">Watch Video</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="innovation">
		<div class="container">
			<div class="row  align-items-center">
				<div class="innovation__video  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5  offset-xl-1" style="background-image: url('{{ site.theme.link }}/static/img/service-video-3.jpg')">
					<div class="video-container">
					</div>
				</div>
				<div class="innovation__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0">
					<h3><span>Futureye</span> works with you to design and implement solutions to address your challenges</h3>
					<p>Are you unsure about the possible future risks to your business or organisation?<br><br>
						Is your organisation at risk because of changing social values? Do you find that the goalposts keep shifting?Are you concerned that activists are influencing the public about your organisation’s performance or plans?<br><br>
						Are you concerned that regulators might restrict your business’ commercial operating environment? Have they already done it?<br><br>
						Are you wondering why your strategy doesn’t build community trust and business resilience?</p>

					<p><strong>Futureye’s passion is solving these problems in ways that are good for you and the community.</strong></p>
					<div class="descr__btns">
						<a href="{{ why_we_do_it_link }}" class="descr__btn--1">Why we do it</a>
						{#<a href="#" class="descr__btn--2">Watch video</a>#}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="approach">
		<div class="container">
			<div class="row  align-items-center">
				<div class="approach__img  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  order-lg-2">
					<img src="{{ site.theme.link }}/static/img/futureye-approach.png" alt="The Futureye approach">
				</div>
				<div class="approach__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  order-lg-1">
					<h3><span>Our approach</span> to building for long-term success</h3>
					<p>We work closely with clients to find unique solutions to address current or emerging issues. We know how to understand what people think of you, where you are on the curve, how to change that and have conversations that earn trust.</p>
					<p>These are important elements for organisations that wish to improve sustainability and trust, and earn and maintain their social licence to operate.</p>
					<p>A social licence to operate is the implicit acceptance of your product, service, company, government, or organisation.</p>
					<div class="descr__btns">
						<a href="{{ what_we_do_link }}" class="descr__btn--1">What we do</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="our-clients">
		<div class="container">
			<div class="row">
				<div class="our-clients__title  col-12">
					<h4>Our clients and case studies</h4>
				</div>
			</div>
			<div class="row  align-items-center">
				{#{% for post in case_studies %}#}
					{#<a href="{{ post.link }}" class="our-client  col-6  col-sm-4  col-md-3  col-lg">#}
						{#<img src="{{ post.thumbnail.src | letterbox(180, 75, '#FFFFFF') }}" alt="{{ post.title }}" >#}
					{#</a>#}
				{#{% endfor %}#}
				<img class="img-responsive" src="{{ site.theme.link }}/static/img/case-studies-hero-bg.jpg" />
			</div>
			<div class="row">
				<div class="our-clients__link  col-12">
					<a href="{{ case_studies_link }}">View case studies</a>
				</div>
			</div>
		</div>
	</section>


{% endblock %}