{% if menu %}
	<ul class="{{ submenu ? 'dropdown__items' : 'navbar row'  }}" >

	{% for item in menu %}
		<li class="{{ submenu ? 'dropdown__item' : 'navbar__item  col-lg' }}  {{ item.current ? 'navbar__item--active' : '' }} {{ (item.get_children|length > 0) ? 'navbar__dropdown' : '' }} {{ item.classes | join(' ') }}">
			{% if item.get_children|length > 0 %}
				<button class="dropdown__toggle">
					{{ item.title }}
				</button>
			{% else %}
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% endif %}
			{% include "primary-menu.twig" with {'menu': item.get_children, 'submenu': true} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}

{# Original HTML below #}

{#<ul class="navbar row">#}
	{#<li class="navbar__item  col-lg"><a href="#">What we do</a></li>#}
	{#<li class="navbar__item  col-lg  navbar__item--active"><a href="#">Why we do it</a></li>#}
	{#<li class="navbar__item  col-lg"><a href="#">How we do it</a></li>#}
	{#<li class="navbar__item  col-lg"><a href="#">Our people</a></li>#}
	{#<li class="navbar__item  col-lg"><a href="#">Case Studies</a></li>#}
	{#<li class="navbar__item  col-lg  navbar__dropdown">#}
		{#<button class="dropdown__toggle">#}
			{#Keep up-to-date#}
		{#</button>#}
		{#<ul class="dropdown__items">#}
			{#<li class="dropdown__item">#}
				{#<a href="#">Latest News</a>#}
			{#</li>#}
			{#<li class="dropdown__item">#}
				{#<a href="#">Resources</a>#}
			{#</li>#}
			{#<li class="dropdown__item">#}
				{#<a href="#">Wikicurve</a>#}
			{#</li>#}
		{#</ul>#}
	{#</li>#}
	{#<li class="navbar__item  col-lg"><a href="#">Get in touch</a></li>#}
{#</ul>#}