{% extends "base.twig" %}

{% block content %}


	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="hero  hero--latest-news">
				<div class="container">
					<div class="row">
						<div class="hero__descr  col-12  col-md-10">
							<h1>{{ post.title }}</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="case-study">
				<div class="container">
					<div class="row">
						<div class="case-study__left-column  col-10  offset-1  col-sm-8  offset-sm-2  col-md-6  offset-md-3  col-lg-3  offset-lg-0">
							{% if post.thumbnail.src %}
								<div class="case-study__logo">
									<img src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
								</div>
							{% endif %}
							<h4 class="case-study__company-name">{{ post.title }}</h4>
						</div>
						<div class="case-study__right-column  case-study__full-descr  col-12  col-sm-10  offset-sm-1  col-lg-8  col-xl-9  offset-xl-0">
							{{ post.content }}
						</div>
					</div>
				</div>
			</section>
		</article>
	</div>


	{# <!-- comment box --> #}
	{#<section class="comment-box">#}
	{#<!-- comments -->#}
	{#<div class="comments">#}
	{#{% if post.comments %}#}
	{#<h3> comments </h3>#}
	{#{% for cmt in post.comments %}#}
	{#{% include "comment.twig" with {comment:cmt} %}#}
	{#{% endfor %}#}
	{#{% endif %}#}
	{#</div>#}

	{#{% if post.comment_status == "closed" %}#}
	{#<p> comments for this post are closed </p>#}
	{#{% else %}#}
	{#<!-- comment form -->#}
	{#{% include "comment-form.twig" %}#}
	{#{% endif %}#}
	{#</section>#}

{% endblock %}
