{% extends "base.twig" %}

{% block content %}

<div class="content-wrapper">
	<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<section class="hero  hero--our-people">
			<div class="container">
				<div class="row">
					<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
						<h1>{{ post.title }}</h1>
						<p>We have a talented team of problem solvers who are delivery and results oriented, accountable, partnership-oriented, innovative, enterprising and committed to clients’ needs.</p>
						<p>Our skills include: risk and crisis management and communication, community and stakeholder engagement, change management, proactive issues management, sustainability, biodiversity, corporate responsibility, futures analysis, psychology, sociology, media and human rights.</p>
						<p>We’ve worked in many fields including: banking, mining, energy, pharmaceuticals, media, agriculture and aquaculture, international relations, government and NGOs.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="about-team-member">
			<div class="container">
				<div class="row">
					<div class="about-team-member__left-column  col-12  col-sm-10  offset-sm-1  col-lg-3  offset-lg-0">
						<div class="member__avatar" style="background-image: url('{{ post.thumbnail.src }}')"></div>
						<h4 class="member__fullname">{{ post.title }}</h4>
						<h5 class="member__position">{{ post.position }}</h5>
					</div>
					<div class="about-team-member__right-column  team-member__full-descr  col-12  col-sm-10  offset-sm-1  col-lg-8  col-xl-9  offset-xl-0">
						{{ post.content }}
						<div class="descr__btns">
							<a href="{{ team_link }}" class="descr__btn--1">Our people</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div><!-- /content-wrapper -->

{% endblock %}
