{% extends "base.twig" %}

{% block content %}
	<section class="hero  hero--case-study">
		<div class="container">
			<div class="hero__descr">
				<h1>{{ post.title }}</h1>
				<h4 class="color-text">{{ post.subtitle }}</h4>
				<p>{{ post.meta('hero_text') }}</p>
				<a class="navigate-link" href="#case_study">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="11px">
						<g>
							<path fill-rule="evenodd" fill="#fff" d="M19.996,1.064 L10.002,10.993 L8.917,9.916 L8.917,9.916 L0.006,1.064 L1.090,-0.013 L10.001,8.839 L18.912,-0.013 L19.996,1.064 Z"/>
						</g>
					</svg>
				</a>
			</div>
		</div>
	</section>
	<section class="case-study">
		<div class="case-study__top" id="case_study">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-2 col-xl-3">
						{% if post.thumbnail.src %}
						<div class="case-study__logo">
							<img src="{{ post.thumbnail.src }}" alt="{{ post.title }}" />
						</div>
						{% endif %}
					</div>
					<div class="col-12 col-lg-7 col-xl-6">
						<div class="row">
							<div class="col">

							{% if post.client %}
								<ul class="case-study__info">
									<li class="case-study__info__item">
										<b>Client:</b>
										{{ post.client }}</li>
											{% endif %}
										{% if post.industry %}
									<li class="case-study__info__item">
										<b>Industry:</b>
										{{ post.industry }}</li>
											{% endif %}
										{% if post.issue %}
									<li class="case-study__info__item">
										<b>Issue:</b>
										{{ post.issue }}</li>
											{% endif %}
									{# <li class="case-study__info__item">
										<b>Engagement:</b>
										{{ post.engagement }}</li> #}
								</ul>

							</div>
							{# <div class="col">
								<ul class="case-study__info">
									<li class="case-study__info__item">
										<b>Client:</b>
										Jemena</li>
									<li class="case-study__info__item">
										<b>Industry:</b>
										Energy</li>
									<li class="case-study__info__item">
										<b>Issue:</b>
										Community Unrest</li>
									<li class="case-study__info__item">
										<b>Engagement:</b>
										6 months</li>
								</ul>
							</div> #}
						</div>
					</div>
					{# <div class="col-12 col-lg-3 col-xl-3">
						<a href="#" class="button-blue">View The Results</a>
					</div> #}
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<article class="case-study__main-column case-study__full-descr col-12 col-lg-8">
					{% if post.meta('problem_and_goals') %}
						<h2 class="border-title">The Problem</h2>
						<p>{{ post.meta('problem_and_goals') }}</p>
					{% endif %}
					{% if post.meta('our_solution') %}
						<h2 class="border-title">Our Solution</h2>
						<p>{{ post.meta('our_solution') }}</p>
					{% endif %}
					{% if post.meta('result') %}
						<h2 class="border-title">The Result</h2>
						<p>{{ post.meta('result') }}</p>
					{% endif %}

						{% if (post.meta('problem_and_goals')) and (post.meta('our_solution')) and (post.meta('result')) %}
						{% else %}
{{post.content}}

						{% endif %}

					<h4 class="color-text">{{ post.final_result_message }}</h4>
				</article>

				<aside class="case-study__right-column col-12 col-lg-4">
					<div class="row">
						<div class="col-12 col-md-6 col-lg-12">
							<div class="col-banner">
								<div class="col-banner__img"><img src="{{ site.theme.link }}/static/img/book.png" alt=""></div>
								<div class="col-banner__title">Get the essential corporate guide to avoid community protest</div>
								<a href="#" onclick="showRequestEbookPopUp(); return false;" class="button-blue">FREE download</a>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-12">
							<div class="col-review">
								{% if post.client_image %}
								<div class="col-review__img"><img src="{{ Image(post.meta('client_image')).src }}" alt="{{ post.testimonial_client_name }}" /></div>
								{% endif %}
								<div class="col-review__name">{{ post.testimonial_client_name }}</div>
								<div class="col-review__company">{{ post.testimonial_company_name }}</div>
								<div class="col-review__text">“{{ post.meta('testimonial_body') }}”</div>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>

		<section class="hero hero--case-study hero--bg-inside">
			<div class="container">
				<div class="hero__descr">
					<h2>Find out how
						<span>we can help you de-risk too!</span>
					</h2>
					<a href="{{ contact_link }}" class="button-blue">Make an Enquiry</a>
				</div>
			</div>
		</section>

		<section class="container hero--similar">
			<div class="hero--similar__title">Similar Projects</div>
			<div class="case-studies">
				<div class="row">
                    {% for cs in similar_case_studies %}
                        <div class="col-12 col-sm-4 mb-sm-0 case-studies__item">
                            <div class="item__title">{{ cs.title }}</div>
                            <div class="item__logo"><img src="{{ cs.thumbnail.src }}" alt="{{ cs.title }}"></div>
                            <a href="{{ cs.link }}" class="item__link">View Case Study
                                <i class="icon icon--link"></i>
                            </a>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</section>
	</section>

	{#
			<div class="content-wrapper">
				<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
					<section class="hero  hero--case-studies">
						<div class="container">
							<div class="row">
								<div class="hero__descr  col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-0  col-xl-5">
									<h1>{{ post.title }}</h1>
									<p>{{ post.subtitle }}</p>
								</div>
							</div>
						</div>
					</section>
					<section class="case-study">
						<div class="container">
							<div class="row">
								<div class="case-study__left-column  col-10  offset-1  col-sm-8  offset-sm-2  col-md-6  offset-md-3  col-lg-3  offset-lg-0">
									{% if post.thumbnail.src %}
										<div class="case-study__logo">
											<img src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
										</div>
									{% endif %}
									<h4 class="case-study__company-name">{{ post.title }}</h4>
								</div>
								<div class="case-study__right-column  case-study__full-descr  col-12  col-sm-10  offset-sm-1  col-lg-8  col-xl-9  offset-xl-0">
									{{ post.content }}
									<div class="descr__btns">
										{% if post.video_url %}
											<a href="{{ post.video_url }}" class="descr__btn--2">Watch Video</a>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</section>
				</article>
			</div> #}
{% endblock %}
