<div class="our-team__member  col-10  offset-1  col-md-6  offset-md-0  col-lg-4  col-xl-3">
	{% if post.thumbnail.src %}
		<div class="member__avatar" style="background-image: url('{{post.thumbnail.src}}')"></div>
	{% endif %}
	<h4 class="member__fullname">{{post.title}}</h4>
	<h5 class="member__position">{{ post.position }}</h5>
	<p class="member__short-descr">{{post.post_content|excerpt(55)}}</p>
	<a href="{{post.link}}" class="member__arrow"></a>
</div>
