    <style type="text/css" >
        .pop-up div.wpcf7-validation-errors, .pop-up div.wpcf7-acceptance-missing { color: #fff; }
    </style>

    <!-- Enquiry Pop Up -->
    <div class="pop-up  enquire-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/envelope-blue.svg" alt="">
                                </div>
                                <h3>Make an enquiry</h3>
                            </div>
                            {{ theme.theme_mod('enquiry_popup_cf7_shortcode')|shortcodes }}
                            {#<form class="pop-up__form" action="">#}
                                {#<span class="form__input">#}
                                    {#<input type="text" placeholder="Name">#}
                                {#</span>#}
                                {#<span class="form__input">#}
                                    {#<input type="text" placeholder="Company">#}
                                {#</span>#}
                                {#<span class="form__input">#}
                                    {#<input type="tel" placeholder="Phone">#}
                                {#</span>#}
                                {#<span class="form__input">#}
                                    {#<input type="email" placeholder="Email">#}
                                {#</span>#}
                                {#<span class="form__textarea">#}
                                    {#<textarea placeholder="Enquiry..."></textarea>#}
                                {#</span>#}
                                {#<span class="form__submit">#}
                                    {#<input type="submit" value="Submit">#}
                                {#</span>#}
                            {#</form>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop-up__row-cyan">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/phone-gray.svg" alt="">
                                </div>
                                <h3>Call us on <span>{{ theme.theme_mod('phone_1') }}</span></h3>
                            </div>
                            <p>We’d love to hear from you and help your organisation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--arrow">Close</button>
        </div>
    </div>


    <!-- Enquiry Pop Up - We will get back to you soon -->
    <div class="pop-up  enquire-thanks-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-cyan">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/envelope-gray.svg" alt="">
                                </div>
                                <h3>
                                    Thanks.<br>
                                    <span>We will be in contact</span>
                                </h3>
                            </div>
                            <a href="{{ site.link }}" class="pop-up__link">Go to home</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--arrow">Close</button>
        </div>
    </div>


    <!-- Newsletter sign up pop up -->
    <div class="pop-up  sign-up-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/newspaper-blue.svg" alt="">
                                </div>
                                <h3>Sign up to our Newsletter</h3>
                            </div>
                            {#<form class="pop-up__form" action="">#}
                                {#<span class="form__input">#}
                                    {#<input type="text" placeholder="Name">#}
                                {#</span>#}
                                {#<span class="form__input">#}
                                    {#<input type="email" placeholder="Email">#}
                                {#</span>#}
                                {#<span class="form__submit">#}
                                    {#<input type="submit" value="Sign Up">#}
                                {#</span>#}
                            {#</form>#}
                            {{ theme.theme_mod('signup_popup_cf7_shortcode')|shortcodes }}
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--arrow">Close</button>
        </div>
    </div>


    <!-- Newsletter sign up pop up - Thanks for signing up -->
    <div class="pop-up  sign-up-thanks-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-cyan">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/newspaper-gray.svg" alt="">
                                </div>
                                <h3>
                                    Thanks for signing up!<br>
                                    <span>We will keep you updated with the latest news</span>
                                </h3>
                            </div>
                            <a href="{{ site.link }}" class="pop-up__link">Go to home</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--cross">Close</button>
        </div>
    </div>


    <!-- Request ebook pop up -->
    <div class="pop-up  request-ebook-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/document-blue.svg" alt="">
                                </div>
                                <h3>Request your copy today</h3>
                            </div>
                            {{ theme.theme_mod('request_ebook_popup_cf7_shortcode')|shortcodes }}
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--arrow">Close</button>
        </div>
    </div>


    <!-- Request Publication pop up -->
    <div class="pop-up  request-publication-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/document-blue.svg" alt="">
                                </div>
                                <h3>Request your copy today</h3>
                            </div>
                            {#<form class="pop-up__form" action="">#}
                              {#<span class="form__input">#}
                                {#<input type="text" placeholder="Name">#}
                              {#</span>#}
                                        {#<span class="form__input">#}
                                {#<input type="email" placeholder="Email">#}
                              {#</span>#}
                                        {#<span class="form__submit">#}
                                {#<input type="submit" value="Request Copy">#}
                              {#</span>#}
                            {#</form>#}
                            {{ theme.theme_mod('request_publication_popup_cf7_shortcode')|shortcodes }}
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--arrow">Close</button>
        </div>
    </div>


    <!-- Request Publication pop up - Thanks message -->
    <div class="pop-up  request-publication-thanks-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-cyan">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/document-gray.svg" alt="">
                                </div>
                                <h3>
                                    Thanks for your interest!<br>
                                    <span>The Publication is on it’s way</span>
                                </h3>
                            </div>
                            <a href="{{ site.link }}" class="pop-up__link">Go to home</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--cross">Close</button>
        </div>
    </div>


    <!-- Request ebook thanks pop up - Thanks message -->
    <div class="pop-up  request-ebook-thanks-pop-up">
        <div class="pop-up__container">
            <div class="pop-up__row-cyan">
                <div class="container">
                    <div class="row">
                        <div class="col-12  col-sm-10  offset-sm-1  col-md-8  offset-md-2  col-lg-6  offset-lg-3">
                            <div class="pop-up__title">
                                <div class="icon">
                                    <img src="{{ site.theme.link }}/static/img/document-gray.svg" alt="">
                                </div>
                                <h3>
                                    Thanks for your interest!<br>
                                    <span>The book is on it’s way</span>
                                </h3>
                            </div>
                            <a href="{{ site.link }}" class="pop-up__link">Go to home</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pop-up__close-btn  pop-up__close-btn--cross">Close</button>
        </div>
    </div>
